<!DOCTYPE html>
<html>
    <head>
        <title>emails_success</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h2>Email Addresses</h2>
        <table>
            {% for email in emails: %}
                <tr>
                    <td>{{ email['email'] }}</td>
                    <td>{{ email['created'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
